
/* Variabili */

:root {
    --y: #ffed00;
    --w: whitesmoke;
    --dv: rgb(27,21,64);
    --g: rgb(33,37,41);
    --db: rgb(20,9,37);
}

.text-y {
    color: var(--y);
}

.bg-y {
    background-color: var(--y);
}

.text-w {
    color: var(--w);
}

.bg-dv {
    background-color: var(--dv);
}

.bg-g {
    background-color: var(--g);
}

.bg-db {
    background-color: var(--db);
}

h1, h2, h3, p, time {
    color: var(--w);
}

.bg-custom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header */

.custom-hdr {
    background-image: url(./media/bg-1.jpg);
}

.btn-custom {
    border: 1px solid var(--y);
    background-color: transparent;
}

.btn-custom:hover {
    background-color: var(--y);
    color: black;
}

.bi-calendar2-week {
    color: var(--y);
    height: 40px;
    width: 40px;
}

.data {
    font-weight: 700;
}

/* Aside */

.aside-custom {
    background-image: url(./media/bg-2.jpg);
}

.rettangolo {
    border-radius: 5% 5%;
    position: relative;
    margin-bottom: -100px;
}

.form {
    background-color: transparent;
    color: var(--w);
    border: none;
    border-bottom: solid 1px rgb(255, 0, 149);
}

.round {
    height: 60px;
    width: 60px;
    display: flex;
    border-radius: 50%;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.bi-calendar2-minus {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.btn2 {
    color: black;
}

.btn2:hover {
    background-color: var(--y);
    animation: pulse 0.8s infinite;
}

@keyframes pulse {
    0%,
    100% {
      animation-timing-function: linear;
    }
    50% {
      transform: scale(1.1);
    }
  }
 
/* Section 1 */

.section-1 {
    padding: 100px 20px;
}

/* Section 2 */

.speaker {
    background-image: url(./media/bg-3.jpg);
}