
/* Variabili */

:root {
    --y: #ffed00;
    --w: whitesmoke;
    --dv: rgb(27,21,64);
    --g: rgb(33,37,41);
}

.text-y {
    color: var(--y);
}

.bg-y {
    background-color: var(--y);
}

.text-w {
    color: var(--w);
}

.bg-dv {
    background-color: var(--dv);
}

.bg-g {
    background-color: var(--g);
}

h1, h2, h3, h4, h5, h6, p, time {
    color: var(--w);
}

/* Header */

.custom-hdr {
    background-image: url(./media/bg-1.jpg);
    height: 750px;
    padding-top: 30px;
}

.first {
    margin-top: 50px;
}

.cabinato {
    height: 600px;
    width: 500px;
}

.prima {
    margin-left: 200px;
}

.webinar {
    margin-bottom: 20px;
}

.font {
    font-weight: 600;
}

.calendar-custom {
    display: inline-block;
    width:40px;
    height:40px;
    color: var(--y);
}

.btn-custom {
    height: 50px;
    width: 240px;
    border: 1px solid var(--y);
    color: var(--y);
    background-color: transparent;
    border-radius: 25px 25px;
    margin-top: 40px;
}

.logo-custom {
    height: 60px;
    width: 150px;
    margin-bottom: 50px;
}

/* Main */

main {
    height: 500px;
}

.console-custom {
    height: 350px;
    width: 300px;
}

.allinea {
    padding-top: 55px;
}

/* Aside */

.aside-custom {
    background-image: url(./media/bg-2.jpg);
}

/* Form */

.bg-custom {
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
}

.rettangolo {
    height: 650px;
    width: 450px;
    border-radius: 5% 5%;
    margin-top: -700px;
    position: relative;
}

.form {
    background-color: transparent;
    color: var(--w);
    border: none;
    border-bottom: solid 1px rgb(255, 0, 149);
}

.form-custom {
    height: 200px;
}

.wrap {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.titoletto {
    margin-top: 40px;
}

.round {
    height: 60px;
    width: 60px;
    display: flex;
    border-radius: 50%;
}

.bi-calendar2-minus {
    height: 30px;
    width: 30px;
}

.paese {
    margin-left: -3.5px;
    margin-right: 25.8px;
}

.paese, .numero {
    margin-top: 20px;
}

.form-check {
    padding-top: 20px;
    padding-left: 30px;
}

.btn2 {
    margin-top: 30px;
    width: 425px;
    color: black;
    background-color: var(--y);
}

/* Footer */

footer {
    margin-top: -55px;
}

.centro {
    margin-top: 80px;
}

.sec-logo {
    height: 500px;
    background-color: rgb(20,9,37);
}

.logo-fut-custom {
    height: 350px;
    width: 380px;
}

.sec-foto {
    height: 565px;
    background-size: cover;
}

.speaker {
    background-image: url(./media/bg-3.jpg);
}

.foto {
    height: 420px;
    width: 300px;
    margin-top: 88px;
}

.testo {
    margin-left: 240px;
    margin-right: 50px;
}

.ultimo {
    margin: 0px;
}

